body{
    background-color: black;
}
.grid
{
    position : absolute;
    left: 450px;
    width:300px;
    height:300px;
    border:solid white 5px;
    display:flex;
    flex-wrap: wrap;
}

.grid div
{
    width:20px;
    height:20px;
}

.invader
{
    background-color:purple;
    border-radius:10px;
}

.shooter
{
    background-color:green;
}
.laser{
    background-color: orange;
}
.boom
{
    background-color: red;
}

.results{
    color: white;
}
